{% block component_filter_multi_select_list_item %}
    <div class="{{ formCheckboxWrapperClass }}">
        {% set id = element.id %}
        {% set name = element.translated.name %}
        {% block component_filter_multi_select_list_item_checkbox_input %}
            <input type="checkbox"
                   class="{{ formCheckInputClass }} filter-multi-select-checkbox"
                   data-label="{{ name }}"
                   value="{{ id }}"
                   id="{{ id }}">
        {% endblock %}

        {% block component_filter_multi_select_list_item_label_element %}
            <label class="filter-multi-select-item-label fs-14 p-0 {{ formCheckLabelClass }}" for="{{ id }}">
                {% block component_multi_select_list_item_label %}
                    {{ name }}
                {% endblock %}
            </label>
        {% endblock %}
    </div>
{% endblock %}
