{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{% block page_checkout_finish_teaser %}
    {% if page.changedPayment != true %}
        {# die Anrede ist in diesem Fall nur über billingAddress verfügbar #}
        <p class="finish-teaser">{{ "checkout.finishInfoConfirmationMail"|trans({
            '%order.orderCustomer.salutation%': page.order.billingAddress.salutation.translated.displayName,
            '%order.orderCustomer.lastName%': page.order.orderCustomer.lastName,
            '%order.orderNumber%': page.order.orderNumber
        })|sw_sanitize }}</p>
    {% endif %}
{% endblock %}
