{% sw_extends '@Storefront/storefront/page/content/single-cms-page.html.twig' %}


            {% block single_cms_page_main %}
                <main class="content-main bg-light4">
                    {% block single_cms_page_main_content %}
                        {% set cmsPageClasses = ('cms-page ' ~ page.cmsPage.cssClass|striptags)|trim %}
                        <div class="{{ cmsPageClasses }}">
                            {% block page_content_blocks %}
                                {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </main>
            {% endblock %}
