{% sw_extends '@Storefront/storefront/component/buy-widget/buy-widget-form.html.twig' %}

{% block buy_widget_buy_quantity_container %}
    <div class="d-none">
        {% set selectQuantityThreshold = 100 %}
        {% block buy_widget_buy_quantity %}
                {% block buy_widget_buy_quantity_select %}
                    <select name="lineItems[{{ product.id }}][quantity]"
                            class="{{ formSelectClass }} product-detail-quantity-select">
                        <option value="1">1 {{ product.translated.packUnit }}</option>
                    </select>
                {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block buy_widget_buy_button_container %}
    {# Status auf Buchbar prüfen #}
    {% set buchbar = 0 %}
    {% for property in product.properties %}
        {% if property.name == 'Buchbar' %}
            {% set buchbar = 1 %}
        {% endif %}
    {% endfor %}
    <div class="col-lg-4">
        {% block buy_widget_buy_button %}
            {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `btn-block` class, use `d-grid` wrapper instead #}
            {% if feature('v6.5.0.0') %}
                <div class="d-grid">
                    <button class="btn btn-primary btn-buy"
                            title="{{ "detail.addProduct"|trans|striptags }}"
                            aria-label="{{ "detail.addProduct"|trans|striptags }}">
                        {{ "detail.addProduct"|trans|sw_sanitize }}
                    </button>
                </div>
            {% else %}
                <button class="btn btn-primary btn-block{% if buchbar == 1 %} btn-buy{% endif %}"
                        title="{{ "detail.addProduct"|trans|striptags }}"
                        aria-label="{{ "detail.addProduct"|trans|striptags }}"{% if buchbar != 1 %} disabled{% endif %}>
                    {% if buchbar == 1 %}
                        {{ "detail.addProduct"|trans|sw_sanitize }}
                    {% else %}
                        Nicht buchbar - in Kürze verfügbar
                    {% endif %}
                </button>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}