{% sw_extends '@Storefront/storefront/component/shipping/shipping-method.html.twig' %}

{% block component_shipping_method_description %}
    <div class="shipping-method-description w-100">
        <strong>{{ shipping.translated.name }}</strong>
        {% if shipping.translated.description %}
            {% set shippingDescription = shipping.translated.description|raw %}

            <p title="{{ shipping.translated.description|raw }}">{{ shippingDescription }}</p>
        {% endif %}
    </div>
{% endblock %}
