{% sw_extends '@Storefront/storefront/component/shipping/shipping-fields.html.twig' %}

{% block component_shipping_method %}
    {% for shipping in page.shippingMethods[:visibleShippingMethodsLimit] %}
        {% include '@GdTheme/storefront/component/shipping/shipping-method.html.twig' %}
    {% endfor %}

    {% block component_shipping_method_collapse %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
