{% block layout_navigation_categories %}
    {% set navigationMaxDepth = 3 %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}
    {% set activeId = page.header.navigation.active.id %}

    {% set activePath = page.header.navigation.active.path %}

    <div class="{% if level == 0 %}row {% endif %}navigation-flyout-categories2 m-0 is-level-{{ level }}">

        {% for treeItem in navigationTree %}
            {% set id = treeItem.category.id %}
            {% set name = treeItem.category.translated.name %}
            {% set link = category_url(treeItem.category) %}
            {% set description = treeItem.category.description  %}

            {% block layout_navigation_categories_item %}

                <div class="{% if name == "Nach Produkttyp" %}col-12 ml-0 mr-0 pl-0 pr-0{% endif %}">

                    {% block layout_navigation_categories_item_link %}
                        {% if name != "Nach Produkttyp" %}
                            <a class="nav-item nav-link is-level-{{ level }}{% if id == activeId or id in activePath %} active{% endif %}{% if level == 0 %} mb-2{% endif %}"
                               href="{{ link }}"
                               itemprop="url"
                               {% if category_linknewtab(treeItem.category) %}target="_blank"
                                   {% if treeItem.category.linkType == "external" %}rel="noopener noreferrer"{% endif %}
                               {% endif %}
                               title="{{ name }}">
                                {% if level == 0 %}
                                    <span itemprop="name" class="dark-3 fs-14 mb-5">{{ name }}:</span>
                                {% else %}
                                    <span itemprop="name" class="dark-1 fs-16 sb">{{ name }}</span>
                                {% endif %}
                            </a>
                        {% endif %}
                    {% endblock %}

                    {% block layout_navigation_categories_recoursion %}
                        {% if level < navigationMaxDepth %}
                            {# Styling nach Kategorie #}
                            {% if name != "Nach Produkttyp" %}
                                {% sw_include '@Storefront/storefront/layout/navigation/categories.html.twig' with {
                                    navigationTree: treeItem.children,
                                    level: level + 1,
                                    page: page
                                } only %}
                            {# Styling nach Produkttyp #}
                            {% else %}
                                {% sw_include '@Storefront/storefront/layout/navigation/promo_categories.html.twig' with {
                                    navigationTree: treeItem.children,
                                    level: level + 1,
                                    page: page
                                } only %}
                            {% endif %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
