{% block layout_navigation_flyout %}
    {% set category = navigationTree.category %}
    {% set name = category.translated.name %}

    {% block layout_navigation_flyout_content %}
        <div class="row navigation-flyout-content">
            {% block layout_navigation_flyout_categories %}
                <div class="col">
                    <div class="navigation-flyout-categories m-0">
                        {# Erweiterung gestylte Flyouts aus Figma #}
                        {% block layout_navigation_flyout_categories_recoursion %}
                            {# Check, ob erste Flyout mit dem Namen Cloud-services #}
                            {% if navigationTree.category.name == "Cloud-Services" %}
                                {% sw_include '@Storefront/storefront/layout/navigation/categories_flyout_1.html.twig' with {
                                    navigationTree: navigationTree.children,
                                    navigationMedia: category.media,
                                    page: page
                                } only %}
                            {% else %}
                                {% sw_include '@Storefront/storefront/layout/navigation/categories.html.twig' with {
                                    navigationTree: navigationTree.children,
                                    navigationMedia: category.media,
                                    page: page
                                } only %}
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block layout_navigation_flyout_teaser %}
            {% endblock %}
        </div>
    {% endblock %}



    {% block layout_navigation_flyout_bar %}
        <div class="row navigation-flyout-bar">
            {% block layout_navigation_flyout_bar_category %}
                <div class="col">
                    <div class="navigation-flyout-category-link">
                        {% block layout_navigation_flyout_bar_category_link %}
                            {% if category.type == 'page' %}
                                <a class="nav-link"
                                   href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                                   itemprop="url"
                                   title="{{ name }}">
                                    {% block layout_navigation_flyout_bar_category_link_text %}
                                       {#  {{ "general.toCategory"|trans|sw_sanitize }} #}
                                        <span class="text-dark-1 mr-1">Alle {{ name }}</span>
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 9.00004L0 7.00004H12L6.5 1.50004L7.92 0.0800438L15.84 8.00004L7.92 15.92L6.5 14.5L12 9.00004H0Z" fill="#DF5564"/>
                                        </svg>
                                    {% endblock %}
                                </a>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block layout_navigation_flyout_bar_close %}
            {% endblock %}
        </div>
    {% endblock %}

{% endblock %}
