{% block layout_navigation_categories %}
    {% set navigationMaxDepth = 3 %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}
    {% set activeId = page.header.navigation.active.id %}

    {% set activePath = page.header.navigation.active.path %}

    <div class="{% if level == 0 %}row mb-5 {% endif %}navigation-flyout-categories-rec is-level-{{ level }}">
        {% for treeItem in navigationTree %}
            {% set id = treeItem.category.id %}
            {% set name = treeItem.category.translated.name %}
            {% set link = category_url(treeItem.category) %}
            {% set description = treeItem.category.description  %}

            {% block layout_navigation_categories_item %}
                <div class="{% if level == 0 %}{% if navigationMedia %}col-auto {% else %}col-auto {% endif %}{% endif %}navigation-flyout-col m-0">
                    {% block layout_navigation_categories_item_link %}
                        <a class="nav-item nav-link navigation-flyout-link is-level-{{ level }}{% if id == activeId or id in activePath %} active{% endif %}{% if level == 0 %} ml-0 mr-0 mb-2{% endif %}"
                           href="{{ link }}"
                           itemprop="url"
                           {% if category_linknewtab(treeItem.category) %}target="_blank"
                               {% if treeItem.category.linkType == "external" %}rel="noopener noreferrer"{% endif %}
                           {% endif %}
                           title="{{ name }}">
                            <div class="col mt-2 mb-2 pl-4">
                                <div class="row">
                                    <div class="col m-0 p-0">
                                        <div><span itemprop="name" class="dark-1 fs-16 sb">{{ name }}</span></div>
                                        {% if name == "Software-as-a-Service (SaaS)" %}
                                            <div itemprop="description" class="dark-3 fs-14 r">{{ "flyout.SloganSaas"|trans }}</div>
                                        {% elseif name == "Infrastructure-as-a-Service (IaaS)" %}
                                            <div itemprop="description" class="dark-3 fs-14 r">{{ "flyout.SloganIaas"|trans }}</div>
                                        {% elseif name == "Platform-as-a-Service (PaaS)" %}
                                            <div itemprop="description" class="dark-3 fs-14 r">{{ "flyout.SloganPaas"|trans }}</div>
                                        {% else %}
                                            <div itemprop="description" class="dark-3 fs-14 r"></div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
