{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{# Link zum Ändern der Rechnungsadresse nicht anzeigen #}
{% block page_checkout_confirm_address_billing_actions %}
{% endblock %}

{# Link zum Ändern der Lieferadresse nicht anzeigen #}
{% block page_checkout_confirm_address_shipping_actions %}
{% endblock %}
