{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_main_content %}
    {% block page_checkout_confirm %}
        {% block page_checkout_confirm_header %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_alerts %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_tos %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_address %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_product_table %}
            {{ parent() }}
        {% endblock %}

        {% block page_checkout_confirm_payment_shipping %}
            {# Zahlungsart ausblenden #}
            <div class="confirm-payment-shipping d-none" aria-hidden="true">
                <div class="row">
                    {% block page_checkout_confirm_payment %}
                        <div class="col-sm-6 confirm-payment">
                            {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}
                        </div>
                    {% endblock %}
                </div>
            </div>

            {# Versandart wird als Bestelloptionen genutzt #}
            <div class="confirm-payment-shipping">
                <div>
                    {% block page_checkout_confirm_shipping %}
                        <div class="confirm-shipping">
                            {% sw_include '@Storefront/storefront/page/checkout/confirm/confirm-shipping.html.twig' %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block page_checkout_confirm_hidden_line_items_information %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}
{% endblock %}

{% block page_checkout_aside %}
    <div class="checkout-main {% if block('page_checkout_additional')|trim %}checkout-aside-no-offset{% endif %}">
        {% block page_checkout_aside_container %}
            <div class="checkout-aside-container">
                {% block page_checkout_aside_summary %}
                    {{ parent() }}
                {% endblock %}

                {% block page_checkout_aside_actions %}
                    <div class="checkout-aside-action">
                        <form id="confirmOrderForm"
                            action="{{ path('frontend.checkout.finish.order') }}"
                            data-form-csrf-handler="true"
                            data-form-preserver="true"
                            data-form-submit-loader="true"
                            data-form-add-history="true"
                            data-form-add-history-options='{{ formAddHistoryOptions|json_encode }}'
                            method="post">

                            {# @deprecated tag:v6.5.0 - Block page_checkout_aside_actions_csrf will be removed. #}
                            {% block page_checkout_aside_actions_csrf %}
                                {{ sw_csrf('frontend.checkout.finish.order') }}
                            {% endblock %}

                            {% block page_checkout_confirm_form_submit %}
                                {# @deprecated tag:v6.5.0 - Bootstrap v5 removes `btn-block` class, use `d-grid` wrapper instead #}
                                {% if feature('v6.5.0.0') %}
                                    <div class="d-grid">
                                        <button id="confirmFormSubmit"
                                                class="btn btn-primary btn-lg"
                                                form="confirmOrderForm"
                                            {% if page.cart.errors.blockOrder %}
                                                disabled
                                            {% endif %}
                                                type="submit">
                                            {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
                                        </button>
                                    </div>
                                {% else %}
                                    <button id="confirmFormSubmit"
                                            class="btn btn-primary btn-lg"
                                            form="confirmOrderForm"
                                        {% if page.cart.errors.blockOrder %}
                                            disabled
                                        {% endif %}
                                            type="submit">
                                        {{ "checkout.confirmSubmit"|trans|sw_sanitize }}
                                    </button>
                                {% endif %}
                            {% endblock %}
                        </form>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

