{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}


{% block page_account_register_login_container %}

	<div class="col justify-content-center">
            {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
                'cardTitle': "account.loginHeader"|trans|sw_sanitize
            } %}

            {% block page_account_register_advantages %}

	            {% block page_account_register_advantages_title %}
                    {% endblock %}

                    {% block page_account_register_advantages_list %}
                    {% endblock %}

            {% endblock %}
        </div>
	 <div class="col justify-content-center m-2">
		<a href="/News/Demo-Registrierung/" title="" class="btn  btn-primary">Weiter zur Registrierung</a>
	</div>
{% endblock %}
