@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 300;font-stretch: 100%;src: url("../assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2") format("woff2");unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 300;font-stretch: 100%;src: url("../assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2") format("woff2");unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 400;font-stretch: 100%;src: url("../assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2") format("woff2");unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 400;font-stretch: 100%;src: url("../assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2") format("woff2");unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 600;font-stretch: 100%;src: url("../assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2") format("woff2");unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face {font-family: 'Open Sans';font-style: normal;font-weight: 600;font-stretch: 100%;src: url("../assets/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2") format("woff2");unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
body { font-family: "Open Sans", sans-serif ! important;font-size: 16px; }
.bg-dark-1 {background-color: #212121}
.bg-dark-2 {background-color: #424242}
.bg-dark-3 {background-color: #616161}
.bg-light1 {background-color: #BDBDBD}
.bg-light2 {background-color: #E0E0E0}
.bg-light3 {background-color: #EEEEEE}
.bg-light4 {background-color: #FAFAFA}
.bg-positiv, .bg-gruen {background-color: #3CD370}
.bg-neutral, .bg-orange {background-color: #FA9233}
.bg-negativ, .bg-rot {background-color: #DF3C4E}
.bg-brand, .bg-primary {background-color: #63C3D1}
.bg-action, .bg-secondary {background-color: #DF5564}
.h1 {font-style: normal;font-weight: 400;font-size: 32px;line-height: 40px;}
.h2 {font-style: normal;font-weight: 400;font-size: 24px;line-height: 34px;}
.h3 {font-style: normal;font-weight: 600;font-size: 18px;line-height: 26px;}
.fs-18 {font-size: 18px;line-height: 26px;}
.fs-16 {font-size: 16px;line-height: 24px;}
.fs-14 {font-size: 14px;line-height: 19px;}
.fs-12 {font-size: 12px;line-height: 16px;}
.fs-10 {font-size: 10px;line-height: 13px;}
.text-semibold, .semibold, .sb {font-weight: 600;}
.text-regular, .regular, .r {font-weight: 400;}
.text-light, .light, .l {font-weight: 300;}
.text-dark-1, p.dark-1, span.dark-1 {color: #212121}
.text-dark-2, p.dark-2, span.dark-2 {color: #424242}
.text-dark-3, p.dark-3, span.dark-3 {color: #616161}
.text-light1, p.light-1, span.light-1 {color: #BDBDBD}
.text-light2, p.light-2, span.light-2{color: #E0E0E0}
.text-light3, p.light-3, span.light-3 {color: #EEEEEE}
.text-light4, p.light-4, span.light-4 {color: #FAFAFA}
.text-white, p.white, span.white {color: #FFFFFF}
.text-positiv, p.positiv, span.positiv {color: #3CD370}
.text-neutral, p.neutral span.neutral {color: #FA9233}
.text-negativ, p.negativ, span.negativ {color: #DF3C4E}
.text-brand, p.brand, span.brand {color: #63C3D1}
.text-action, p.secondary, span.secondary {color: #DF5564}

.footer-main, .footer-bottom {background: #424242;color:#ffffff;}
.footer-column-headline, .footer-link, .footer-contact-hotline a {color:#ffffff}
.container-main, .breadcrumb {padding:0}
.header-main {font-size: 18px;}
.main-navigation-link-text {font-size: 18px;color:#fff}
.footer-service-menu-list {margin:0;padding:0}
.transparent-section {width:100%;height:560px;position:absolute;background-color:rgba(1,9,32,1);background-image: url("../assets/Shutterstock_1191963076 1.png");background-repeat:no-repeat;background-position: center bottom;z-index:0;}
.content-main {z-index:1;background:#fafafa;}
.is-act-home .content-main {background: transparent;}
.header-actions-col .icon, .account-menu a, .account-menu path {color:#fff}
.btn {border-radius: 8px}
.btn-lg {padding:10px 16px;background:#DF5564;border-radius:8px;line-height:normal}
.footer-service-menu-item {padding-right:2.5rem}
.card.product-box .card-body .product-name {height:auto;}
.cms-section-sidebar-sidebar-content {max-width:250px}
.navigation-flyouts, .navigation-flyout {border-radius: 8px}
.main-navigation-link {position:relative}
.main-navigation-link.is-open::after {-ms-transform: rotate(135deg);-webkit-transform: rotate(135deg);transform: rotate(135deg);width: 12px;height: 12px;bottom: -7px;content: "";display: block;position: absolute;background: #fff;left: 35%;border: 1px solid #eeeff1;border-top: 0 none;border-right: 0 none;}
.is-ctl-product.is-act-index .content-main, .is-ctl-auth.is-act-loginpage .content-main {background-color: #FFFFFF}
.custom-control-label::before {border: 2px solid #000000; border-radius: 2px;}
.custom-control-input:checked ~ .custom-control-label::before {color: #fff;border-color: #000;background-color: #000;}
.container-small .boxed {max-width:1200px;}
.breadcrumb-item+.breadcrumb-item::before {display:none;}

.shipping-method-description > p { color: #000; }
.header-minimal { color: #fff; }
.header-minimal-back-to-shop-button { color: unset; }
.cart-item-total-price { margin-left: unset; }

.swag-customized-products .swag-customized-products-configuration__description {font-size: 10px; margin: 10px 0 0 0 ! important}
.swag-customized-products .swag-customized-products-configuration__items {margin-top: 5px;}
.swag-customized-products .swag-customized-products__card {border:0}
.swag-customized-products .swag-customized-products__title-link-container {margin:0;border:0;padding-bottom:0}
.swag-customized-products-option.swag-customized-products__item .form-group{margin-bottom:0}
// GOVDP-190
.is-act-home main.logedin .cms-section:nth-child(2) {display: none;}

.registrierungsformular .form-label {font-size: 10px; margin: 10px 0 0 0 ! important}
.registrierungsformular .cms-block-custom-form {padding:0}
.registrierungsformular .form-group {margin-bottom: 5px}
.registrierungsformular h6 {font-size: 20px; font-weight: normal; margin: 25px 0 5px 0}

.swag-customized-products .swag-customized-products-share__card {display:none ! Important}

.swag-custommized-product-html-editor.is-error { border: 1px solid #fc746a; border-radius: 3px; }

@media screen and (max-width: 992px) { .header-main {background: #212121;z-index:1} }
