{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_body %}
  <div class="transparent-section"></div>
  {{ "header.promoMsg"|trans|raw }}
  {{ parent() }}
{% endblock %}

{% block base_header %}
  {{ parent() }}
  {% if page.cmsPage.type == "product_list" %}
    <div class="category-headline container-fluid">    
      <div class="container">
        <div class="col col-12 h1 text-white p-0 mt-5 mb-3">Alle Cloud Services</div>
      </div>
    </div>
  {% elseif page.searchTerm|length > 0 %}
      <div class="category-headline container-fluid">
          <div class="container">
              <div class="col col-12 h1 text-white p-0 mt-5 mb-3">Suchergebnisse</div>
          </div>
      </div>
  {% endif %}
{% endblock %}


{% block base_main %}
    <main class="content-main{% if page.cmsPage.type == "product_list" || page.searchTerm|length > 0 %} bg-light4{% endif %}{% if context.customer == null %} logedout{% else %} logedin{% endif %}">
        {% block base_flashbags %}
            <div class="flashbags container pt-2">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                {% endfor %}
            </div>
        {% endblock %}


        {% block base_main_inner %}
            <div class="container">
                {% block base_main_container %}
                    <div class="container-main">
                        {% block base_content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </main>
{% endblock %}

{% block base_script_router %}
    {{ parent() }}
    <script type="application/javascript">

        if ( document.body.contains(document.getElementById('form-registrierung-admin_benutzer')) ){
            // Counter
            let count = 0;
            // Überschrift Element
            let a1 = document.getElementById("form-registrierung-admin_benutzer").parentNode.parentNode;
            let hl1 = document.createElement("h6");
            hl1.innerHTML = "Der Benutzer soll die folgenden Berechtigungen erhalten";
            hl1.style = "font-size: 18px; margin: 35px 0 25px 0";
            a1.insertBefore(hl1, a1.children[0]);
            // Überschrift Element für jeden Benutzer
            let hl_1 = hl1.cloneNode(true);
            let hl_2 = hl1.cloneNode(true);
            let hl_3 = hl1.cloneNode(true);
            let hl_4 = hl1.cloneNode(true);
            let hl_5 = hl1.cloneNode(true);
            // Element wo die Überschrift hin soll
            let b1 = document.getElementById("form-registrierung-benutzer1_bestellungen").parentNode.parentNode;
            let b2 = document.getElementById("form-registrierung-benutzer2_bestellungen").parentNode.parentNode;
            let b3 = document.getElementById("form-registrierung-benutzer3_bestellungen").parentNode.parentNode;
            let b4 = document.getElementById("form-registrierung-benutzer4_bestellungen").parentNode.parentNode;
            let b5 = document.getElementById("form-registrierung-benutzer5_bestellungen").parentNode.parentNode;
            // Überschriften hinzufügen
            b1.insertBefore(hl_1, b1.children[0]);
            b2.insertBefore(hl_2, b2.children[0]);
            b3.insertBefore(hl_3, b3.children[0]);
            b4.insertBefore(hl_4, b4.children[0]);
            b5.insertBefore(hl_5, b5.children[0]);
            // Benutzerblock als Variable
            let benutzer1 = document.querySelector(".registrierungsformular .form-content .form-row:nth-child(3)");
            let benutzer2 = document.querySelector(".registrierungsformular .form-content .form-row:nth-child(4)");
            let benutzer3 = document.querySelector(".registrierungsformular .form-content .form-row:nth-child(5)");
            let benutzer4 = document.querySelector(".registrierungsformular .form-content .form-row:nth-child(6)");
            let benutzer5 = document.querySelector(".registrierungsformular .form-content .form-row:nth-child(7)");
            // Benutzer 1 bis 5 werden ausgeblendet
            benutzer1.classList.add('d-none');
            benutzer2.classList.add('d-none');
            benutzer3.classList.add('d-none');
            benutzer4.classList.add('d-none');
            benutzer5.classList.add('d-none');
            // Element zum Klicken
            let cc1 = document.createElement("div");
            cc1.id = "weitere_benutzer";
            cc1.setAttribute("class", "col mt-5 mb-5");
            const hl2 = document.createElement("div");
            //hl2.innerHTML = "Weitere Benutzer";
            hl2.style = "font-size: 18px; margin: 35px 0 25px 0";
            const action1 = document.createElement("div");
            action1.innerHTML = '<span class="btn btn-outline-primary">&plus;&nbsp; Weitere Benutzer hinzufügen</span>';
            action1.addEventListener('click', add_user);
            // Klickelement wird nach dem 5 Benutzer eingefügt
            benutzer5.parentNode.insertBefore(cc1, benutzer5.nextSibling);
            cc1.appendChild(hl2);
            cc1.appendChild(action1);
            // Admin Checkbox nicht abwählbar
            document.getElementById("form-registrierung-admin_benutzer").checked = true;
            // Sollte ausreichen, jedoch in MS Edge ohne Wirkung
            document.getElementById("form-registrierung-admin_benutzer").readOnly = true;
            document.getElementById("form-registrierung-admin_benutzer").addEventListener('click', disable_click);
            // Funktion zum einblenden weiterer Benutzer
            function add_user() {
                count++;
                if (count < 6) {
                    if (count == 1) {
                        benutzer1.classList.remove('d-none');
                    } else if (count == 2) {
                        benutzer2.classList.remove('d-none');
                    } else if (count == 3) {
                        benutzer3.classList.remove('d-none');
                    } else if (count == 4) {
                        benutzer4.classList.remove('d-none');
                    } else {
                        benutzer5.classList.remove('d-none');
                    }
                } else {
                    alert("Sie können nur 5 Benutzer zeitgleich registrieren.");
                }
            }
            // Funktion zum Abwählen der Admin Berechtigung verhindern
            function disable_click(e){
                e.preventDefault();
                return false;
            }
        }

        if(document.body.contains(document.querySelector(".buy-widget-container .btn-buy"))){
            let buy_button = document.querySelector(".buy-widget-container .btn-buy");
            buy_button.addEventListener('click', check_maximum);
            function check_maximum(e){
                let cart_items_count = document.querySelector(".header-cart-total").getAttribute("data-items");
                if (cart_items_count == 0){
                    return true;
                } else {
                    alert('Maximale Anzahl an Produkten im Warenkorb erreicht.');
                    e.preventDefault();
                }
            }
        }

    </script>
{% endblock %}






{% block base_navigation %}
{% endblock %}




