{% block layout_breadcrumb_inner %}
    {% if category %}
        {% set breadcrumbCategories = sw_breadcrumb_full(category, context.context) %}
        {% set categoryId = category.id %}

        {% if feature('v6.5.0.0') %}
            {% set breadcrumbKeys = breadcrumbCategories|keys %}
        {% else %}
            {# @deprecated tag:v6.5.0 - Use "sw_breadcrumb_full" directly. #}
            {% set breadcrumb = sw_breadcrumb(category) %}
            {# @deprecated tag:v6.5.0 - Use "sw_breadcrumb_full" directly. #}
            {% set breadcrumbKeys = breadcrumb|keys %}
            {# @deprecated tag:v6.5.0 - Use "sw_breadcrumb_full" directly. #}
            {% set breadcrumbTypes = sw_breadcrumb_build_types(breadcrumbCategories) %}
        {% endif %}

        {% if breadcrumbCategories|length > 0 %}
            <nav aria-label="breadcrumb" class="mt-2 mb-2">
                {% block layout_breadcrumb_list %}
                    <ol class="breadcrumb m-0"
                        itemscope
                        itemtype="https://schema.org/BreadcrumbList">
                        {# Navigationspunkt Startseite #}
                        <li class="breadcrumb-item">
                            <a class="breadcrumb-link"href="{{ path('frontend.home.page') }}" title="{{ "header.logoLink"|trans|striptags }}">Startseite</a>
                        </li>
                        {#  Trennungspunkt hinter Startseite #}
                        <div class="breadcrumb-placeholder">
                            {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                        </div>

                        {% for breadcrumbCategory in breadcrumbCategories %}
                            {% set key = breadcrumbCategory.id %}
                            {% set name = breadcrumbCategory.translated.name %}

                            {% block layout_breadcrumb_list_item %}
                                {# Alle Strukturierungspunkte in Breadcrumb ausblenden #}
                                {% if breadcrumbCategory.type != 'folder' %}
                                    <li class="breadcrumb-item"
                                        {% if key is same as(categoryId) %}aria-current="page"{% endif %}
                                        itemprop="itemListElement"
                                        itemscope
                                        itemtype="https://schema.org/ListItem">

                                        <a href="{{ category_url(breadcrumbCategory) }}"
                                           class="breadcrumb-link {% if key is same as(categoryId) %} is--active{% endif %}"
                                           title="{{ name }}"
                                           {% if category_linknewtab(breadcrumbCategory) %}target="_blank"{% endif %}
                                           itemprop="item">
                                            <link itemprop="url" href="{{ category_url(breadcrumbCategory) }}"/>
                                            <span class="breadcrumb-title" itemprop="name">{{ name }}</span>
                                        </a>
                                        <meta itemprop="position" content="{{ loop.index }}"/>
                                    </li>
                                {% endif %}
                            {% endblock %}

                            {% block layout_breadcrumb_placeholder %}
                                {% if key != breadcrumbKeys|last && breadcrumbCategory.type != 'folder' %}
                                    <div class="breadcrumb-placeholder">
                                        {% sw_icon 'arrow-medium-right' style { 'size': 'fluid', 'pack': 'solid'} %}
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endfor %}
                    </ol>
                {% endblock %}
            </nav>
        {% endif %}
    {% endif %}

{% endblock %}
