{% block layout_footer_inner_container %}
    <div class="container">

        {% block layout_footer_navigation %}
            <div id="footerColumns"
                 class="row footer-columns"
                 data-collapse-footer="false"
                 role="list">


                {% block layout_footer_navigation_columns %}
                        <div class="w-75 d-flex justify-content-between">
                            {% for root in page.footer.navigation.tree %}
                                {% block layout_footer_navigation_column %}
                                    <div class="col footer-column border-0">
                                        {% block layout_footer_navigation_information_headline %}
                                            <div class="footer-column-headline footer-headline">

                                                {% if root.category.type == 'folder' %}
                                                    {{ root.category.translated.name }}
                                                {% else %}
                                                    <a href="{{ category_url(root.category) }}" class="fs-18"
                                                       {% if category_linknewtab(root.category) %}target="_blank"{% endif %}
                                                       title="{{ root.category.translated.name }}">
                                                        {{ root.category.translated.name }}
                                                    </a>
                                                {% endif %}
                                                {% block layout_footer_navigation_information_icons %}
                                                {% endblock %}
                                            </div>
                                        {% endblock %}

                                        {% block layout_footer_navigation_information_content %}
                                            <div id="collapseFooter{{ loop.index }}" class="footer-column-content" aria-labelledby="collapseFooterTitle{{ loop.index }}">
                                                <div class="footer-column-content-inner">
                                                    {% block layout_footer_navigation_information_links %}
                                                        <ul class="list-unstyled">
                                                            {% for treeItem in root.children %}
                                                                {% set category = treeItem.category %}
                                                                {% set name = category.translated.name %}

                                                                {# @deprecated tag:v6.5.0 - Use "category.translated.externalLink" directly or category_url function instead. #}
                                                                {% set externalLink = category.translated.externalLink %}

                                                                {% block layout_footer_navigation_information_link_item %}
                                                                    <li class="footer-link-item">
                                                                        {% block layout_footer_navigation_information_link %}
                                                                            {% if category.type == 'folder' %}
                                                                                <div>{{ name }}</div>
                                                                            {% else %}
                                                                                <a class="footer-link fs-14"
                                                                                   href="{{ category_url(category) }}"
                                                                                   {% if category_linknewtab(category) %}target="_blank"{% endif %}
                                                                                   title="{{ name }}">
                                                                                    {{ name }}
                                                                                </a>
                                                                            {% endif %}
                                                                        {% endblock %}
                                                                    </li>
                                                                {% endblock %}
                                                            {% endfor %}
                                                        </ul>
                                                    {% endblock %}
                                                </div>
                                            </div>
                                        {% endblock %}
                                    </div>
                                {% endblock %}
                            {% endfor %}

                    </div>
                {% endblock %}

                {% block layout_footer_navigation_hotline %}

                    <div class="col footer-column border-0">
                        {% block layout_footer_navigation_hotline_headline %}
{#
                            <div class="footer-column-headline footer-headline"
                                 id="collapseFooterHotlineTitle"
                                 role="listitem">
                                {{ 'footer.serviceHotlineHeadline'|trans|sw_sanitize }}

                                {% block layout_footer_navigation_hotline_icons %}
                                {% endblock %}
                            </div>
#}
                        {% endblock %}

                        {% block layout_footer_navigation_hotline_content %}
                            <div id="collapseFooterHotline" class="footer-column-content">
                                <div class="footer-column-content-inner">
                                    <p class="footer-contact-hotline">
                                        {{ 'footer.serviceHotline'|trans|sw_sanitize }}
                                    </p>
                                </div>
                            </div>
                        {% endblock %}
                    </div>

                {% endblock %}


            </div>
        {% endblock %}

        {% block layout_footer_payment_shipping_logos %}
        {% endblock %}

    </div>

    {% block layout_footer_bottom %}
        <div class="footer-bottom">
            {% block layout_footer_service_menu %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-auto">
                            <span class="fs-14">&copy; Copyright govdigital eG {{ 'now' | date('Y') }}</span>
                        </div>
                        <div class="col-md-auto">
                            {% block layout_footer_service_menu_content %}
                                {% apply spaceless %}
                                    <ul class="footer-service-menu-list list-unstyled">
                                        {% for serviceMenuItem in page.header.serviceMenu %}
                                            {% block layout_footer_service_menu_item %}
                                                <li class="footer-service-menu-item">
                                                    <a class="footer-service-menu-link fs-14 text-regular p-0"
                                                       href="{{ category_url(serviceMenuItem) }}"
                                                       {% if category_linknewtab(serviceMenuItem) %}target="_blank"{% endif %}
                                                       title="{{ serviceMenuItem.translated.name }}">
                                                        {{ serviceMenuItem.translated.name }}
                                                    </a>
                                                </li>
                                            {% endblock %}
                                        {% endfor %}
                                    </ul>
                                {% endapply %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block layout_footer_vat %}
            {% endblock %}

            {% block layout_footer_copyright %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
