{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}
    {% block page_search %}
        {% block page_search_headline %}
            <div class="search-headline bg-light3 mt-3 pt-4 pb-4 rounded">
                <blockquote class="blockquote text-center m-0">
                    {% block page_search_headline_text %}
                        <p class="m-0">
                        {{ "search.headline"|trans({
                            '%count%': page.listing.total,
                            '%searchTerm%': page.searchTerm,
                        }) }}
                        </p>
                    {% endblock %}
                </blockquote>
            </div>
        {% endblock %}

        {% sw_include '@Storefront/storefront/page/search/search-pagelet.html.twig' with { page: page, count: page.listing.total, searchterm: page.searchTerm } %}
    {% endblock %}
{% endblock %}
