{# {% set listingColumns = 'col-sm-6 col-lg-4 col-xl-3' %}  #}

{% block element_product_listing_wrapper %}

    <div class="d-flex">
        {% block section_sidebar_content %}
            <div class="cms-section-sidebar-sidebar-content ml-lg-3 d-none d-lg-block">
                <div class="h2 mt-1 mb-4c">
                    <div>{{ "listing.filterTitleText"|trans }}</div>
                </div>
                {% sw_include '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' with {
                    listing: page.listing,
                    sidebar: true
                } %}

            </div>
        {% endblock %}

        {% block section_main_content %}
            <div class="cms-section-sidebar-main-content flex-grow col p-0">
                {% sw_include '@Storefront/storefront/component/product/listing.html.twig' with {
                    searchResult: page.listing,
                    dataUrl: url('widgets.search.pagelet.v2'),
                    filterUrl: url('widgets.search.filter'),
                    params: { search: page.searchTerm },
                    sidebar: sidebar,
                    boxLayout: 'standard',
                    displayMode: ''
                } %}
            </div>
        {% endblock %}
    </div>

{% endblock %}
