{% block component_product_box %}
    {% if product %}
        {% set name = product.translated.name %}
        {% set id = product.id %}
        {% set cover = product.cover.media %}
        {% set variation = product.variation %}
        {% set displayParent = product.variantListingConfig.displayParent and product.parentId === null %}

        <div class="card product-box box-{{ layout }}">
            {% block component_product_box_content %}
                <div class="card-body position-relative">
                    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}" title="{{ name }}" class="position-absolute top-0 start-0 w-100 h-100">

                    </a>

                    {% block component_product_box_badges %}
                    {% endblock %}

                    {% block component_product_box_rich_snippets %}
                    {% endblock %}

                    {% block component_product_box_image %}
                    {% endblock %}

                    {% block component_product_box_info %}
                        <div class="product-info">

                            {% block component_product_box_name %}
                                <span class="product-name m-0">{{ name }}</span>
                                <span class="dark-3 fs-14 m-0 p-0">{{ product.manufacturer.name }}</span>
                            {% endblock %}

                            {# Status anzeigen #}
                            <div>
                                {% for property in product.properties %}
                                    {% if property.group.name == 'Status' %}
                                        {% set url = '/Cloud-Services/?properties=' ~ property.id %}
                                        {% set color = property.name == 'Buchbar' ? 'success' : 'warning' %}
                                        <a href="{{ url }}" class="position-relative z-index btn btn-outline-{{ color }} rounded-0 fs-12">{{ property.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% block component_product_box_rating %}
                                {% if config('core.listing.showReview') %}
                                    <div class="product-rating mt-2 mb-3">
                                        {% if product.ratingAverage %}
                                            {% sw_include '@Storefront/storefront/component/review/rating.html.twig' with {
                                                points: product.ratingAverage,
                                                style: 'text-primary'
                                            } %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endblock %}

                            {% block component_product_box_variant_characteristics %}
                            {% endblock %}

                            {% block component_product_box_description %}
                                <div class="product-description">
                                    {{ product.translated.description|striptags|raw }}
                                </div>
                            {% endblock %}

                            {% block component_product_box_price %}
                                {# {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %} #}
                            {% endblock %}

                            {% block component_product_box_action %}
                                {# {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %} #}

                                {# Servicearten anzeigen #}
                                <div class="mt-3">
                                    {% for property in product.properties %}
                                        {% if property.group.name == 'Serviceart' %}
                                            {% set url = '/Cloud-Services/?properties=' ~ property.id %}
                                            <a href="{{ url }}" class="position-relative z-index btn btn-outline-secondary rounded-0 fs-12">
                                                {{ property.name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
