{% block page_content_section_sidebar %}
    {% set sectionMobileBehaviorClass = 'cms-section-sidebar-mobile-' ~ section.mobileBehavior %}
    {% set layout = section.sizingMode ? section.sizingMode|replace({"_": "-"}) : "container" %}

    <div class="cms-section-sidebar p-0 container-xxl container bd-layout {{ sectionMobileBehaviorClass }} {{ layout }}">


        {% set sidebarBlocks = section.blocks.filterBySectionPosition('sidebar') %}
        {% set mainContentBlocks = section.blocks.filterBySectionPosition('main') %}



{#
        <div class="h2 mt-1 mb-4 d-none-sm d-none-md d-flex justify-between">
            <div>{{ "listing.filterTitleText"|trans }}</div>
            <div>
                <button class="btn header-actions-btn filter-panel-wrapper-toggle"
                        type="button"
                        data-offcanvas-filter="true"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-label="{{ "general.menuLink"|trans }}">
                    {% block element_product_listing_filter_button_icon %}
                        {% sw_icon 'sliders-horizontal' %}
                    {% endblock %}

                </button>
            </div>

        </div>
#}
        <div class="d-flex">
        {% block section_sidebar_content %}
            <div class="cms-section-sidebar-sidebar-content ml-lg-3 d-none d-lg-block">
                <div class="h2 mt-1 mb-4 ">
                    <div>{{ "listing.filterTitleText"|trans }}</div>
                </div>
                {% for block in sidebarBlocks %}
                    {% block section_sidebar_content_block %}
                        {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block section_main_content %}
        <main class="cms-section-sidebar-main-content flex-grow col">
                {% for block in mainContentBlocks %}
                    {% block section_main_content_block %}
                        {% sw_include "@Storefront/storefront/section/cms-section-block-container.html.twig" %}
                    {% endblock %}
                {% endfor %}
            </main>
        {% endblock %}
        </div>




















    </div>
{% endblock %}
