{% sw_extends '@Storefront/storefront/page/checkout/cart/cart-product-header.html.twig' %}

{% block page_checkout_cart_header_quantity %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}