{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_add_product_and_shipping %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}

{% block page_checkout_cart_add_promotion_input_group %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}
