{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_quantity %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}