{% block layout_header %}

    {% block layout_top_bar %}
        {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %}
    {% endblock %}

    {% block layout_header_navigation %}
        <div class="row justify-content-between align-items-center header-row">

            <div class="col-12 text-white fs-10">
                <p class="text-right m-0">ein Projekt des IT-Planungsrats | Beta</p>
            </div>


            {% block layout_header_logo %}
                <div class="col-auto header-logo-col m-0">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}

            {# Suchfeld an andere Stelle und verschoben und Event-Verhalten auch Klick für Mobile angepasst #}
            <div class="d-none d-lg-block col-xl-7 col-lg-7 align-self-center">
                {% block base_navigation %}
                    <div class="nav-main col-auto">
                        {% block base_navigation_inner %}
                            {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>

            {% block layout_header_actions %}
                <div class="order-2 col-auto order-sm-2 header-actions-col align-self-end">
                    <div class="row {{ gridNoGuttersClass }}">

                        {# Merkzettel wurde zunächst ausgeblendet #}
                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                                <div class="col-auto d-none">
                                    <div class="header-wishlist">
                                        <a class="btn header-wishlist-btn header-actions-btn"
                                           href="{{ path('frontend.wishlist.page') }}"
                                           title="{{ 'header.wishlist'|trans|striptags }}"
                                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}
                        {# Suchen Button Sichtbarkeit schon < md #}
                        {% block layout_header_search_toggle %}
                            <div class="col-auto">
                                <div class="search-toggle">
                                    <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                            type="button"
                                            {{ dataBsToggleAttr }}="collapse"
                                            {{ dataBsTargetAttr }}="#searchCollapse"
                                            aria-expanded="false"
                                            aria-controls="searchCollapse"
                                            aria-label="{{ "header.searchButton"|trans|striptags }}">
                                                {% sw_icon 'search' %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}
                        {# Anmelden Button wurde um den Text Anmelden erweitert --> nur sichtbar > md #}
                        {% block layout_header_actions_account %}
                            <div class="col-auto">
                                <div class="account-menu">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}
                        {# Menü Toggle wurde umpositioniert und Sichtbarkeit schon ab < lg #}
                        {% block layout_header_navigation_toggle %}
                            <div class="col-auto d-lg-none d-md-block">
                                <div class="menu-button">
                                    {% block layout_header_navigation_toggle_button %}
                                        <button class="btn nav-main-toggle-btn header-actions-btn"
                                                type="button"
                                                data-offcanvas-menu="true"
                                                aria-label="{{ "general.menuLink"|trans|striptags }}">
                                            {% block layout_header_navigation_toggle_button_icon %}
                                                {% sw_icon 'stack' %}
                                            {% endblock %}
                                        </button>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                        {# Warenkorb ausgeblendet #}
                        {% block layout_header_actions_cart %}
 {% if context.customer != null %}
                            <div class="col-auto">
                                <div class="header-cart"
                                     data-offcanvas-cart="true">
                                    <a class="btn header-cart-btn header-actions-btn"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-cart-widget="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>

                        {% endif %}

                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}


    {% block layout_header_search %}
        {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
    {% endblock %}
{% endblock %}
