{% block layout_header_logo_inner %}
    <div class="header-logo-main">
        {% block layout_header_logo_link %}
            <a class="header-logo-main-link"
               href="{{ path('frontend.home.page') }}"
               title="{{ "header.logoLink"|trans|striptags }}">
                {% block layout_header_logo_image %}
                    <img src="{{ asset('bundles/gdtheme/assets/CSP_logo_white.svg', 'asset') }}" alt="Logo Govdigotal" />
                {% endblock %}
            </a>
        {% endblock %}
    </div>
{% endblock %}
