{# @var product \Shopware\Core\Content\Product\SalesChannel\SalesChannelProductEntity #}

{% block layout_search_suggest %}
    <div class="search-suggest js-search-result">
        {% block layout_search_suggest_container %}
            <ul class="search-suggest-container rounded">
                {% block layout_search_suggest_results %}
                    {% for product in page.searchResult %}
                        {% block layout_search_suggest_result_product %}
                            <li class="search-suggest-product js-result border-0">
                                {% block layout_search_suggest_result_link %}
                                    <a href="{{ seoUrl('frontend.detail.page', {'productId': product.id}) }}"
                                       title="{{ product.translated.name }}"
                                       class="search-suggest-product-link fs-16 r m-0">
                                        <div class="row align-items-center {{ gridNoGuttersClass }}">
                                            {% block layout_search_suggest_result_image %}
                                            {% endblock %}

                                            {% block layout_search_suggest_result_name %}
                                                <div class="col search-suggest-product-name">
                                                    {{ product.translated.name }}
                                                </div>
                                            {% endblock %}

                                            {% block layout_search_suggest_result_price %}
                                            {% endblock %}
                                        </div>
                                    </a>
                                {% endblock %}
                            </li>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}

                {% block layout_search_suggest_result_total %}
                    {% if page.searchResult.total == 0 %}
                        {% block layout_search_suggest_no_result %}
                            <li class="search-suggest-no-result">
                                {{ "header.searchNoResult"|trans|sw_sanitize }}
                            </li>
                        {% endblock %}
                    {% else %}

                        {% block layout_search_suggest_result_total_result %}
                            <li class="js-result search-suggest-total">
                                <div class="row align-items-center {{ gridNoGuttersClass }}">
                                    {% block layout_search_suggest_result_total_link %}
                                        <div class="col">
                                            <a href="{{ path('frontend.search.page') }}?search={{ page.searchTerm }}"
                                               title="{{ "header.searchAllResults"|trans|striptags }}"
                                               class="search-suggest-total-link">

                                                <span class="text-dark-1 sb mr-1">{{ "header.searchAllResults"|trans|sw_sanitize }}</span>


                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0 9.00004L0 7.00004H12L6.5 1.50004L7.92 0.0800438L15.84 8.00004L7.92 15.92L6.5 14.5L12 9.00004H0Z" fill="#DF5564"/>
                                                </svg>

                                            </a>
                                        </div>
                                    {% endblock %}

                                    {% block layout_search_suggest_result_total_count %}
                                    {% endblock %}
                                </div>
                            </li>
                        {% endblock %}
                    {% endif %}
                {% endblock %}
            </ul>
        {% endblock %}
    </div>
{% endblock %}
