{% sw_extends '@Storefront/storefront/page/account/address.html.twig' %}

{# Link zum Ändern der Rechnungsadresse nicht anzeigen #}
{% block page_account_overview_billing_address_actions %}
{% endblock %}

{# Link zum Ändern der Lieferadresse nicht anzeigen #}
{% block page_account_overview_shipping_address_actions %}
{% endblock %}
