{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{# Link zum Ändern des Profils nicht anzeigen #}
{% block page_account_overview_profile_actions %}
{% endblock %}

{# Link zum Ändern der Zahlungsmethode nicht anzeigen #}
{% block page_account_overview_payment_actions %}
{% endblock %}
