{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{# Link zum persönlichen Profil nicht anzeigen #}
{% block page_account_sidebar_link_profile %}
{% endblock %}

{# Link zu den Adressen nicht anzeigen #}
{% block page_account_sidebar_link_address %}
{% endblock %}

{# Link zu den Zahlungsarten nicht anzeigen #}
{% block page_account_sidebar_link_payment %}
{% endblock %}
