{% set config = { sorting: current } %}
{% set showSorting = (slot.config.showSorting.value is defined) ? slot.config.showSorting.value : true %}

{% if showSorting and sortings|length > 1 %}
    <div class="sorting1 d-flex d-flex justify-content-between align-items-center" data-listing-sorting="true" data-listing-sorting-options='{{ config|json_encode }}'>
        <div>
            <span class="fs-14">Sortieren nach:</span>
        </div>
        <div class="ml-2">
            <select class="sorting {{ formSelectClass }}" aria-label="{{ 'general.sortingLabel'|trans|striptags }}">
                {% for sorting in sortings %}
                    {% set key = sorting.key %}
                    <option value="{{ key }}"{% if key == current %} selected{% endif %}>{{ sorting.translated.label|sw_sanitize }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endif %}
