{% sw_extends '@Storefront/storefront/component/checkout/cart-header.html.twig' %}

{% block component_checkout_cart_header_quantity %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}
