{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}

{% block component_offcanvas_summary_content_info %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}

{% block component_offcanvas_summary_tax_info %}
{% endblock %}
