{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_quantity %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}
