{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_promotion_input_group %}
    <div class="d-none" aria-hidden="true">
        {{ parent() }}
    </div>
{% endblock %}
