{% block block_sidebar_filter %}
    {% set element = block.slots.getSlot('content') %}
    {% set columns = 1 %}

    <div class="container" data-cms-element-id="{{ element.id }}">
        {% block block_sidebar_filter_inner %}
            {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
        {% endblock %}
    </div>
{% endblock %}
