{% block layout_header_actions_account_widget %}
    <div class="dropdown">
        {% block layout_header_actions_account_widget_dropdown_button %}
            <a class="btn account-menu-btn header-actions-btn"
                    href="{{ path('frontend.account.login.page') }}"
                    id="accountWidget"
                    data-offcanvas-account-menu="true"
                    title="{{ "account.myAccount"|trans|striptags }}">
                {% sw_icon 'avatar' %}
                <span class="ml-1 d-none d-lg-inline-block">
{% if context.customer == null %}
{{ "account.loginSubmit"|trans|sw_sanitize }}
{% endif %}
		</span>
            </a>
        {% endblock %}

        {% block layout_header_actions_account_widget_dropdown_menu %}

        {% endblock %}
    </div>
{% endblock %}
