{% sw_extends '@Storefront/storefront/page/account/addressbook/address-actions.html.twig' %}

{# Link zum Bearbeiten der Adressen nicht anzeigen #}
{% block page_account_address_actions_buttons %}
{% endblock %}
