{% sw_extends '@Storefront/storefront/page/account/addressbook/index.html.twig' %}

{# Link zum Anlegen neuer Adressen nicht anzeigen #}
{% block page_account_address_item_content_create %}
{% endblock %}
